<footer class="footer">
  <div class="footer-copyright">
    &copy; {{ "now"|date("Y") }} {{ siteName }}
    <br />
    {{ siteName }} is not affiliated with Discord App. We're a platform to help NSFW Discord server managers grow
    their communities.
  </div>
  <div class="footer-links">
    <a href="{{ path('home_privacy') }}">
      Privacy Policy
    </a>
    &middot;
    <a href="{{ path('home_terms') }}">
      Terms of Use
    </a>
    &middot;
    <a href="{{ path('contact_index') }}">
      Contact Us
    </a>
    &middot;
    <a href="https://discord.gg/Y3MbMkt" target="_blank">
      Support Server
    </a>
    &middot;
    <a href="{{ path('home_source') }}">
      <i class="fab fa-github"></i> Source
    </a>
  </div>
</footer>
