{{ form_start(form, { attr: { 'id': 'server-add-form' }}) }}
  <div id="form-step-1" class="card card-primary">
    <div class="card-header">
      Add Discord Server
    </div>
    <div class="card-body">
      <div class="{% if isEditing %}hidden{% endif %}">
        {{ form_row(form.discordID, { attr: { readonly: isEditing }}) }}
      </div>
      {{ form_row(form.name) }}
      <div class="{% if isEditing %}hidden{% endif %}">
        {{ form_row(form.slug, { attr: { readonly: isEditing }}) }}
      </div>
    </div>
  </div>

  <div id="form-step-2" class="card card-primary card-disabled">
    <div class="card-header">
      Invites
    </div>
    <div class="card-body">
      <p>
        Our users will need an invite to your server in order to join. In order to create invites
        to join your server, the server widget with <b>"Instant Invite Channel"</b> needs to be
        enabled <b>or</b> you can invite our bot to your welcome channel and it will create invites.
      </p>

      <p id="server-verify-widget-danger" class="bg-danger gutter gutter-margin-bottom hidden">
        Your server widget is <b>not</b> configured correctly. Enable widget invites on your server, and
        select the <b>"Widget with Instant Invite"</b> again.
      </p>

      {{ form_row(form.inviteType) }}

      <div id="server-invite-bot-container" class="hidden">
        <div class="gutter-bottom">
          <button
            data-href="https://discord.com/api/oauth2/authorize?client_id={{ discordClientID }}&scope=bot&permissions=0"
            data-target="_blank"
            id="server-add-bot-btn"
            class="btn btn-success btn-anchor"
            style="width: 200px;"
            type="button"
          >
            Invite Our Bot
          </button>
        </div>
        {{ form_row(form.botInviteChannelID) }}
        <div class="text-right gutter-bottom">
          <button id="server-refresh-btn" type="button" class="btn btn-link">
            {{ icon('sync') }}
            Refresh
          </button>
        </div>
      </div>
      <ul class="server-invite-list">
        <li>
          <b>"Widget with Instant Invite"</b><br />
          To use instant invites, open your <b>"Server Settings"</b> on <b>Discord</b> and go to
          the <b>Widget Tab (Does not show up on mobile).</b> Make sure the checkbox for <b>"Enable Widget"</b> is
          checked and an <b>"Instant Invite Channel"</b> is selected.
        </li>
        <li>
          <b>"Our Bot Creates the Invites"</b><br />
          To use our bot, click "Invite Our Discord Bot" button, and select your welcome channel in the
          Discord window that opens. After closing the window click "Refresh" and select the channel from
          the list.
        </li>
      </ul>
    </div>
  </div>

  <div id="form-step-3" class="card card-primary card-disabled">
    <div class="card-header">
      Details
    </div>
    <div class="card-body">
      {{ form_row(form.summary) }}
      {{ form_row(form.description) }}
      <div class="row gutter-bottom">
        <div class="col col-md-6 col-sm-12 col-12">
          {{ form_row(form.category1) }}
        </div>
        <div class="col col-md-6 col-sm-12 col-12">
          {{ form_row(form.category2) }}
        </div>
      </div>
      {{ form_row(form.tags) }}
      {{ form_row(form.isPublic) }}
      {{ form_row(form.isActive) }}
    </div>
  </div>

  <div id="form-step-4" class="card card-primary card-disabled">
    <div class="card-header">
      Human Verification
    </div>
    <div class="card-body">
      {{ form_row(form.botHumanCheck) }}
      {{ form_row(form.serverPassword) }}
      {{ form_row(form.updatePassword) }}
    </div>
  </div>

  <div id="form-step-5" class="card card-primary card-disabled">
    <div class="card-header">
      Media
    </div>
    <div class="card-body form-group-upload-body card-disabled">
      {{ form_row(form.bannerFile) }}
      {{ form_row(form.bannerCropData) }}
      {% if isEditing and server.bannerMedia|default %}
        <p class="form-help" style="padding-top: 8px;">
          Leave blank to keep your existing banner.
          <img src="{{ server.bannerMedia|webPath }}" class="server-banner-media" alt="Banner" />
        </p>
      {% endif %}
    </div>
  </div>

  <div id="form-step-6" class="card card-primary card-disabled">
    <div class="card-body">
      <button class="btn btn-info btn-lg btn-block" type="submit">
        {% if isEditing %}
          Update Discord Server
        {% else %}
          Add Discord Server
        {% endif %}
      </button>
    </div>
  </div>
  {{ form_rest(form) }}
{{ form_end(form) }}
{% include "server/blocks/cropper-modal.html.twig" %}
